@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins&family=Raleway:wght@200;300;400");

body{
    padding:0;
    margin:0;
}
.recipe-list{
    border-right: 1px solid black;
    min-height: 100vh;
    width: 50%;
}
.recipe-list__add-recipe-btn-container{
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
}
.recipe{
    padding:20px;
    padding-bottom:40px;
    border-bottom: 1px solid black;
}
.recipe:last-child{
    border-bottom:none;
    padding-bottom:10px;
}
.recipe__header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;
}
.recipe-name{
    font-family:'Poppins', sans-serif;
    font-size:2.2em;
}
.recipe__row{
    margin-top:10px;
}
.recipe-label, .recipe-value{
    font-family:'Raleway', sans-serif;
}
.recipe-label{
    font-size:1.1em;
    font-weight:700;
    margin-right:5px;
}
.recipe-value{
    font-size:1em;
    font-weight:300;
}
.recipe-value--indented{
    margin-top:10px;
    margin-left:20px;
}
.recipe__instructions{
    white-space: pre-wrap;
}
.ingredient-grid{
    display:grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 3px;
    column-gap:25px;
    justify-content: flex-start;
}
.btn{
    font-size:1.2em;
    font-family:'Poppins', sans-serif;
    background:none;
    border:none;
    outline:none;
    font-weight:bold;
    padding: 5px 20px;
    cursor: pointer;
    border-radius:3px;
}
.btn--primary{
    color:#fff;
    background-color: #6495ED;
}
.btn--primary:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}
.btn--danger{
    color:#fff;
    background-color: #C70039;
}
.btn--danger:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}
.mr-1{
    margin-right:5px;
}